<!DOCTYPE html>
<html>
    <head>
        <title><%=appName%></title>
        <link rel="stylesheet" href="text/css" href="main.css">
    </head>
    <body>
        <p><a href="register"> Register</a></p>
    </body>
</html>